body {
    font-family: Arial, sans-serif;
    background: -webkit-linear-gradient(132deg, #ffffff,#ffffff,#00bfc2);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(132deg, #ffffff,#ffffff,#00bfc2);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
  }
  
  .container {
    max-width: 400px;
    margin: 150px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: -1px 4px 5px 7px rgba(0,0,0,0.37);
    -webkit-box-shadow: -1px 4px 5px 7px rgba(0,0,0,0.37);
    -moz-box-shadow: -1px 4px 5px 7px rgba(0,0,0,0.37);
    
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-left: -12px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #3fbbc0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #3fbbc0;
  }
  
  .mensaje-error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  